@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: transparent;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logosini {
    font-size: 40px;
    color: #ededed;
    text-decoration: none;
    font-weight: 800;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .4s;
}

.navbar a:hover,
.navbar a.active { 
    color: aqua;
    
}

.home {
    height: 100vh;
    background: url('HomeBG2.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    background: transparent;
    max-width: 600px;
}

.home-content h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2S;
}

.home-content h3 {
    font-size: 20px;
    font-weight: 700;
    color: aqua;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px; 
    text-align: justify;
    text-justify: inter-word;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: transparent;

}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: aqua;
    border: 2px solid aqua;
    border-radius: 10px;
    font-size: 19px;
    color: #020215;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}

.btn-box a:hover {
    color: aqua;
    text-shadow: 0 0 10px aqua;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: aqua;
}

.btn-box a:nth-child(2):hover {
    color: #020215;
    box-shadow: 0 0 50px #0ff, 0 0 21px #0ff;
    

}

.btn-box a:nth-child(2)::before {
    background: aqua;
    box-shadow: 0 0 50px #0ff, 0 0 21px #0ff;

}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #060643;
    z-index: -1;
    transition: .3s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-inf {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    bottom: 145px;
    width: 400px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.home-inf a {
    text-decoration: none;
    color: aqua;

}

.home-sci {
    position: absolute;
    bottom: 85px;
    width: 350px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height:  40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}

.home-sci a:hover{
    color: #020215;
    box-shadow: 0 0 50px #0ff, 0 0 21px #0ff;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: aqua;
    z-index: -1;
    transition: .3s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0px;
    width: 800px;
    height: 100%;
    background: transparent;
    transition: .4s;
}

.home-imgHover:hover {
    background: #020215bf;
}

.home-bott {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    bottom: 50px;
    width: 550px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.home-bott a {
    text-decoration: none;
    color: aqua;
}

.clock {
    background: red;
    position: absolute;
    color: aqua;
    right: 50px;
    bottom: 40px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}


.about {
    height: 100vh;
    background: url('HomeBG2.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    
}

.about-content {
    background: transparent;
    max-width: 510px;
    margin-bottom: 50px;

}

.about-content h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2S;
}

.about-content h3 {
    font-size: 20px;
    font-weight: 700;
    color: aqua;
    margin-top: 25px;
}

.about-content p {
    margin-bottom: 25px;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}






.project{
    height: 100vh;
    background: url('HomeBG2.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.project-content {
    background: transparent;
    max-width: 510px;
    margin-bottom: 50px;
}

.project-content h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2S;
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    width: 500px;
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.208);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.35);
    color: aqua;
}




.contact {
    height: 100vh;
    background: url('HomeBG2.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.contact-content {
    background: transparent;
    max-width: 510px;
    margin-bottom: 50px;
}

.contact-content h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2S;
    margin-bottom: 25px
}

.contact-content p {
    color: greenyellow;
}

label {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px;
    color: aqua;
}

input, textarea {
    width: 500px;
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.208);
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    resize: none;
    color: white;
}

input[type="submit"] {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: aqua;
    border: 2px solid aqua;
    border-radius: 10px;
    font-size: 19px;
    color: #020215;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
}

.input[type="submit"]:hover {
    color: aqua;
    text-shadow: 0 0 10px aqua;
}

.input[type="submit"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #060643;
    z-index: -1;
    transition: .3s;
}

.input[type="submit"]:hover::before {
    width: 100%;
}
